.site-layout-background {
    background: #fff;
    padding-top: 30px;
  }

    .card-container {
      position: relative;
      left: 920px;
    }
  
    .site-statistic-demo-card {
      position: relative;
      left: 440px;
      top: -1685px;
    }
  
    .ort-gunluk-ucret {
      position: relative;
      left: 440px;
      top: -1650px;
    }
  
  .menu-search {
      top: 8px;
  }

  .home-logo {
    position: relative;
    width: 20px;
    top: -65px;
    left: 203px;
  }

  .filter-logo {
    position: relative;
    width: 20px;
    top: -129px;
    left: 163px;
  }

  .alert-logo {
    position: relative;
    width: 20px;
    top: -193px;
    left: 903px;
  }

  .profile-panel {
    position: relative;
    top: -63px;
    left: 103px;
    background: #ececec;
  }
  
  .site-demo-card {
    position: relative;
      left: 200px;
      top: -560px;
  }
  .text-title-rt {
    height: 40px;
  }
  .text-title {
    height: 40px;
  }
  
  .button-container {
    position: relative;
    right: 80px;
    top: -200px;
  }
  
  .breadcrumb-container {
    position: relative;
    left: 200px;
    top: -600px;
  }

  .tabs-container {
    position: relative;
    left: 960px;
    top: -540px;
  }

  #chart {
    position: relative;
    width: 420px;
    top: -600px;
    left: 650px;
}

.two-chart {
  position: relative;
  width: 190px;
  top: -1000px;
  left: 1090px;
}

.site-card-wrapper {
  position: relative;
  top: -930px;
  left: 385px;
}
