.logo {
    width: 120px;
    height: 31px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px 28px 16px 0;
    float: left;
  }
  
  .site-layout-background {
    background: #fff;
    padding-top: 30px;
  }
    .logo {
      background: rgba(255, 255, 255, 0.3);
    }
  
    .card-container {
      position: relative;
      left: 920px;
    }
  
    .site-statistic-demo-card {
      position: relative;
      left: 440px;
      top: -1569px;
    }
  
    .ort-gunluk-ucret {
      position: relative;
      left: 440px;
      top: -1550px;
    }
  
  .menu-search {
      top: 8px;
  }
  
  .site-demo-card {
    position: relative;
      left: 200px;
      top: -560px;
  }
  .text-title-rt {
    height: 40px;
  }
  .text-title {
    height: 40px;
  }
  
  .button-container {
    position: relative;
    right: 80px;
    top: 70px;
  }
  
  .breadcrumb-container {
    position: relative;
    left: 200px;
    top: -600px;
  }

  .tabs-container {
    position: relative;
    left: 960px;
    top: -540px;
  }

  #chart {
    position: relative;
    width: 420px;
    top: -600px;
    left: 650px;
}

.two-chart {
  position: relative;
  width: 190px;
  top: -1000px;
  left: 1090px;
}