.logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 28px 16px 0;
  float: left;
}

.site-layout-background {
  background: #fff;
}
  .logo {
    background: rgba(255, 255, 255, 0.3);
  }

  .card-container {
    position: relative;
    left: 920px;
  }

  .site-statistic-demo-card {
    position: relative;
    left: 220px;
  }

  .ort-gunluk-ucret {
    position: relative;
    left: 220px;
    top: 20px;
  }
  .chart {
    height: 40px;
}